*{
    margin: 0;
    padding: 0;
} 
.container{
    display: flex;
    justify-content: center; 
    margin-top: 100px; 
    margin-bottom: 50px;

} 
.form-area{
    display: flex;
}  
.option{ 
    display: flex; 
    margin-left: 20px; 

}  
.output{
    width: 300px;
    height: 100px;
    background-color: aliceblue; 
    margin: auto; 
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; 
    width: 80px; 
    height: 30px;
    
}  
.btn{
    margin: auto;  
    display: flex;
    justify-content: center;

}